### insert file.csv

In [1]:
# to Import the pandas libraray
import pandas as pd

In [2]:
#to load the dataset file using pandas and to store the file in variable"data"
data=pd.read_csv("student_exam_scores.csv")
#to print the dataset
data

,student_id,hours_studied,sleep_hours,attendance_percent,previous_scores,exam_score
0,S001,8.0,8.8,72.1,45,30.2
1,S002,1.3,8.6,60.7,55,25.0
2,S003,4.0,8.2,73.7,86,35.8
3,S004,3.5,4.8,95.1,66,34.0
4,S005,9.1,6.4,89.8,71,40.3
...,...,...,...,...,...,...
195,S196,10.5,5.4,94.0,87,42.7
196,S197,7.1,6.1,85.1,92,40.4
197,S198,1.6,6.9,63.8,76,28.2
198,S199,12.0,7.3,50.5,58,42.0
199,S200,10.2,6.3,97.4,68,37.8

In [3]:
#load the hours_studied column and store it in independent
Independent=data[["hours_studied"]]
#print the variable
Independent

     hours_studied
0              8.0
1              1.3
2              4.0
3              3.5
4              9.1
..             ...
195           10.5
196            7.1
197            1.6
198           12.0
199           10.2

[200 rows x 1 columns]

In [10]:
#load the exam_score column and store it in dependent
Dependent=data[["exam_score"]]
#to print the variable
Dependent

     exam_score
0          30.2
1          25.0
2          35.8
3          34.0
4          40.3
..          ...
195        42.7
196        40.4
197        28.2
198        42.0
199        37.8

[200 rows x 1 columns]

### import train_test_split

In [11]:
# from the class model_selection in sci-kit learn we'll import the function train_test_split 
from sklearn.model_selection import train_test_split

In [12]:
# to Split the Independent variable using the variable named X_train, X_test
# to split the Dependent varianble using the variable named y_train, y_test
x_train,x_test,y_train,y_test=train_test_split(Independent,Dependent,test_size=0.20,random_state=0)

In [13]:
#to print the variable
x_train

     hours_studied
134            1.9
66             3.5
26             2.0
113            3.0
168            3.4
..             ...
67             1.4
192            3.7
117            8.0
47             4.1
172            6.2

[160 rows x 1 columns]

In [14]:
#to print the variable
x_test

     hours_studied
18             9.9
170           11.3
107            5.8
98            11.7
177            5.7
182           11.8
5              8.4
146            6.9
12             1.3
152            5.8
61             8.0
125            4.6
180            9.0
154            2.3
80             7.2
7              2.0
33            11.7
130            4.4
37             7.8
74             8.2
183            2.1
145            3.3
45             3.6
159            3.4
60            11.9
123            6.8
179            6.1
185            4.7
122            9.6
44             1.9
16             3.4
55             7.7
150           11.9
111            3.9
22             4.7
189            5.9
129           10.1
4              9.1
83            10.9
106            2.2

In [15]:
#to print the variable
y_train

     exam_score
134        30.6
66         21.7
26         29.0
113        26.4
168        32.1
..          ...
67         32.2
192        28.8
117        31.3
47         31.1
172        31.0

[160 rows x 1 columns]

In [17]:
#to print the variable
y_test

     exam_score
18         35.6
170        45.3
107        39.2
98         39.9
177        31.0
182        44.1
5          35.7
146        45.8
12         31.2
152        27.7
61         36.1
125        38.6
180        38.4
154        29.7
80         30.8
7          18.3
33         42.7
130        32.9
37         38.3
74         33.5
183        19.4
145        33.0
45         31.8
159        24.7
60         48.6
123        39.3
179        31.4
185        22.9
122        44.1
44         26.1
16         28.9
55         37.0
150        44.1
111        34.8
22         29.6
189        28.0
129        39.2
4          40.3
83         48.9
106        23.7

### import algorithm

In [18]:
#to import the algorithm named LinearRegression in Sci-kit learn(the class is linear.model)
from sklearn.linear_model import LinearRegression

In [19]:
#to store the linear regression algo into an variable named regression
Regression=LinearRegression()
Regression

LinearRegression()

In [20]:
# to check the fit- means for training 
Regression.fit(x_train,y_train)

LinearRegression()

In [21]:
#to find the diff between two points and store the data into weight
weight=Regression.coef_
weight

array([[1.56369287]])

In [23]:
#to find the starting point and store the data into bias
bias=Regression.intercept_
bias

array([23.99798842])

In [24]:
# to predict Create the variable named "y_pred" and saved the X_test data in the varibale
y_pred=Regression.predict(x_test)
y_pred

array([[39.47854782],
       [41.66771784],
       [33.06740706],
       [42.29319499],
       [32.91103778],
       [42.44956427],
       [37.13300852],
       [34.78746922],
       [26.03078915],
       [33.06740706],
       [36.50753137],
       [31.19097562],
       [38.07122424],
       [27.59448202],
       [35.25657708],
       [27.12537416],
       [42.29319499],
       [30.87823705],
       [36.1947928 ],
       [36.82026995],
       [27.28174345],
       [29.15817489],
       [29.62728275],
       [29.31454418],
       [42.60593356],
       [34.63109993],
       [33.53651492],
       [31.34734491],
       [39.00943996],
       [26.96900487],
       [29.31454418],
       [36.03842351],
       [42.60593356],
       [30.09639061],
       [31.34734491],
       [33.22377635],
       [39.7912864 ],
       [38.22759353],
       [41.04224069],
       [27.43811273]])

### import r2_score for accuracy

In [25]:
#Evaluationm parameters for accuracy-import r2_score from the metrics in sklearn
from sklearn.metrics import r2_score

In [26]:
#To find the accuracy score in the variable "r_score"
r_score=r2_score(y_test,y_pred)
r_score

0.6399351131593338

### pickle for model saving

In [27]:
#to save the model
import pickle

In [28]:
#save the model name and create a file need to end in.sav
file_name="final_examscore_pred.sav"

In [29]:
# Save the model into the model name,dump=open,wb=write binary
pickle.dump(Regression,open(file_name,'wb'))

In [30]:
#Load the model ,rb-read binary
loaded_model=pickle.load(open("final_examscore_pred.sav",'rb'))
loaded_model

LinearRegression()

In [31]:
##create a variable and give the number to predict the value
result=loaded_model.predict([[int(input("Enter your hours studied:"))]])
print("your mark will be",result)

Enter your hours studied: 56

your mark will be [[111.56478907]]

C:\Users\keert\anaconda3\anaconda\Lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(